/*icon*/
/*.title{
	text-align: center;
	font-family: Impact, fantasy;
	color:white;
	font-size:200px;
}
.pawimg{
	margin-left:15%;
	padding-top: 30px;
    width:70%;
}
.titled{
	background: #e8bc84;
	width:100%;
	margin-top:-600px;
	padding-top:400px;
	padding-bottom:200px;
	background-image: url("img/paw.png");
	background-size: cover;
  	background-repeat: no-repeat;
}*/

/*top nav bar*/
.title{
	text-align: center;
	font-family: Impact, fantasy;
	color:white;
	font-size:70px;
}
.titled{
	background: #e8bc84;
	height:100px;
	padding-top: 10px;
}

.pawimg{
    width:60%;
    padding-top: 10px;
}
.titlep{
	width:10%;
}
.titlel {
    list-style: none;
	text-align: center;
	overflow:hidden;
}

.titlel li {
    display: inline-block;
    width:120px;
}


/*mainbody*/

.mainbd{
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.mainbd li{
    background: #cbccc9;
}
.control{
	width:20%;
}
.vframe{
	width:60%;
}
.video{
	width:100%;
}

@media all and (max-width: 850px) {
.mainbd{
    -webkit-flex-flow: column-wrap;
    flex-flow: column wrap;
}
.mainbd li{
    width:100%;

}
.control{
	padding-bottom: 50px;
}
.vframe{
	width:60%;
}
.video{
	width:100%;
}
}

.control div h3{
	text-align: center;
	font-family: Impact, fantasy;
	font-size: 40px;
}
.controldiv{
	width: 100%;
}

.camcontrolLeft{
	margin-left: 10%;
	width:40%;
	background: white;
	border-radius: 50px;
	  box-shadow: 0 5px #999;
}
.camcontrolLeft img{
	 width:100%; 
}
.camcontrolR{
	width:40%;
	background: white;
	border-radius: 50px;
	  box-shadow: 0 5px #999;
}
.camcontrolR img{
	transform: rotateY(180deg);
	width: 100%;
}
.camcontrolR:hover{
	box-shadow: 0 0px #999;
}
.camcontrolLeft:hover{
	  box-shadow: 0 0px #999;
}

.feedcontrol{
		width:70%;
	background: white;
	border-radius: 50px;
	  box-shadow: 0 5px #999;
	  margin-left:15%;
}
.feedcontrol:hover{
	box-shadow: 0 0px #999;
}
.feedcontrol img{
	width:70%;
	padding:30px;
}
/*footer*/
.footer{
	width: 100%;
	height:50px;
	background: #e8bc84;
	text-align:center;
	padding-top: 20px;
}
