/*icon*/
/*.title{
	text-align: center;
	font-family: Impact, fantasy;
	color:white;
	font-size:200px;
}
.pawimg{
	margin-left:15%;
	padding-top: 30px;
    width:70%;
}
.titled{
	background: #e8bc84;
	width:100%;
	margin-top:-600px;
	padding-top:400px;
	padding-bottom:200px;
	background-image: url("img/paw.png");
	background-size: cover;
  	background-repeat: no-repeat;
}*/

/*top nav bar*/
.title{
	text-align: center;
	font-family: Impact, fantasy;
	color:white;
	font-size:70px;
}
.titled{
	background: #e8bc84;
	height:100px;
	padding-top: 10px;
}

.pawimg{
    width:100px;
    margin-top: 10px;
    -webkit-transition: width 2s; 
    transition: width 2s;
}
.pawimg2{
    width:60%;
    -webkit-transition: width 2s;
    transition: width 2s;
}
.pawimg2:hover{
	width:120%;
}
.pawimg:hover{
	width:130%;
}
/*empty box for spacing*/
.emp{
	width:100px;
}
.titlep{
	width:10%;
	position: fixed;
}
.titlel {
    list-style: none;
	text-align: center;
	overflow:hidden;
}

.titlel li {
    display: inline-block;
    width:120px;
}


/*mainbody*/
body{
	background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url('../img/cat.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center; 
}

/*3 main columns for camera/video/feed*/
.mainbd{
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
}
.mainbd li{
	opacity: 1;
}

/*g7 label*/
.tag{
	margin-top: 70px;
	width: 100%;
}
.tag h1{
	font-size: 7em;
	text-align: center;
	color:#633a04;
}

/*do not display mobile blocks when use web */
.mobilec{
	display: none;
}
/*control columns*/
.control{
	width:20%;
}
/*video setup*/
.vframe{
	width:60%;
	margin-bottom: 40px;
}
.video{
	width:100%;
	height:100%;
}
/*.video img{
	transform: rotateX(180deg);
}*/

/*toy button*/
.toy{
	width:70%;
	background: white;
	border-radius: 50px;
	box-shadow: 0 5px #999;
	margin-left:15%;
	margin-top: 50px;
}
.toy:hover{
	box-shadow: 0 0px #999;
}
.toy img{
	width: 70%;
	padding:10%;
}

/*mobile version*/
@media all and (max-width: 1000px) {
	/*change to column major*/
	.mainbd{
	    -webkit-flex-flow: column-wrap;
	    flex-flow: column wrap;
	}
	/*do not display tag*/
	.tag{
		display: none;
	}
	.mainbd li{
	    width:100%;

	}
	/*do not display control buttons for web version*/
	.control{
		display: none;
	}
	.vframe{
		width:60%;
		margin-bottom: 0px;
	}
	.video{
		width:100%;
	}
	/*display mobile controls*/
	.mobilec{
		display: block;
		margin-top: 30px;
	}
	/*two rows of buttons*/
	.mobilec ul{
	  list-style: none;
	  display: -webkit-box;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: -webkit-flex;
	  display: flex; 
	}
	
	.controldiv{
	text-align: center;
	font-family: Impact, fantasy;
	font-size: 20px;
	}
/*control buttons*/
	.controlmv, .camcontrolR{
		width:80%;
		background: white;
		border-radius: 50px;
		box-shadow: 0 5px #999;
		margin-bottom:10px;
		height:70px;
		margin-left: 10%;
	}
	#clickm{
		cursor: pointer;
	}
	.controlmv h2{
		font-family: Impact, fantasy;
		font-size: 14px;
		margin-left: -12px;
	}
	.controlmv img{
		width:100%;
		margin:0;
		padding:0px;

	}
	#clickR{
		transform: rotateY(180deg);
	}
	.controlmv:hover{
	box-shadow: 0 0px #999;
	}
	.toy{
		height:70px;
		margin:0;
		margin-left:10px;
	}
		/*do not display footer*/
	.footer{
		display: none;
	}

}
/*controls for camera*/
.control div h3{
	text-align: center;
	font-family: Impact, fantasy;
	font-size: 40px;
}
.controldiv{
	width: 100%;
}

.camcontrolLeft{
	margin-left: 10%;
	width:40%;
	background: white;
	border-radius: 50px;
	  box-shadow: 0 5px #999;
}
.camcontrolLeft img{
	 width:100%; 
}
.camcontrolR{
	width:40%;
	background: white;
	border-radius: 50px;
	  box-shadow: 0 5px #999;
}
.camcontrolR img{
	transform: rotateY(180deg);
	width: 100%;
}

.camcontrolR:hover{
	box-shadow: 0 0px #999;
}
.camcontrolLeft:hover{
	  box-shadow: 0 0px #999;
}
/*controls for food*/
.feedcontrol:hover{
	box-shadow: 0 0px #999;
}

.feedcontrol{
	width:70%;
	background: white;
	border-radius: 50px;
	box-shadow: 0 5px #999;
	margin-left:15%;
}

.feedcontrol img{
	width:70%;
}

.feedcontrol h2{
	font-family: Impact, fantasy;
}
/*control buttons for database*/
#schedule{
	margin-top: 50px;
}
#database{
	margin-top: 50px;
	font-size: 15px;
}
/*footer*/
.footer{
	width: 100%;
	height:40px;
	background: #e8bc84;
	text-align:center;
	padding-top: 20px;
	position: fixed;
	left: 0;
   bottom: 0;
   width: 100%;
}
